.top {
    background-color: #6D9788 !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #7E1C13 !important;
    color: whitesmoke;
}

.middle {
    background-color: #7E1C13 !important;
}

.input-field label {
    color: whitesmoke;
    font-weight: bold;
}

.input-field input[type=text] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.browser-default {
    color: #6D9788 !important;
    font-weight: bolder;
}